<app-create-modal></app-create-modal>
<!-- <h2>Titulo</h2>
<form class="example-form">
  <mat-grid-list cols="2" rowHeight="4:1">
    <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <mat-label>Nombres</mat-label>
        <input matInput placeholder="Nombres" required>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <mat-label>Apellidos</mat-label>
        <input matInput placeholder="Apellidos" required>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="2" rowHeight="4:1">
    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Cargo</mat-label>
        <mat-select>
          <mat-option>None</mat-option>
          <mat-option value="teacher">Docente</mat-option>
          <mat-option value="director">Director</mat-option>
          <mat-option value="assistant">Coodinador</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
          placeholder="Ex. pat@example.com">
        <mat-hint>Errors appear instantly!</mat-hint>
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
</form> -->