<mat-toolbar color="primary">
        <button mat-icon-button aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Colaboradores</span>
        <span class="example-spacer"></span>
        <button mat-icon-button  aria-label="Example icon-button with menu icon">
            <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button  aria-label="Example icon-button with menu icon">
            <mat-icon>more_vert</mat-icon>
        </button>
</mat-toolbar>