<mat-grid-list cols="4" rowHeight="2:1">
    <div class="button-back">
        <a href="/home">
            <mat-icon>arrow_back</mat-icon> ATRAS
        </a>
    </div>
    <h2 class="title-personal-information">Datos personales</h2>
</mat-grid-list>
<mat-grid-list cols="4" rowHeight="4:4">
    <mat-grid-tile colspan="1">
        <div class="content-img">
            <div>
                <img class="img-avatar" src="../../assets/default-avatar.jpg" width="200px">
            </div>
            <h2>{{this.getPosition(this.EMPLOYEE.position)}}</h2>
            <div class="button-edit">
                <button mat-raised-button color="primary" (click)="openDialog()">EDITAR</button>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="3">
        <div class="content-personal-information">
            <p>{{this.EMPLOYEE.name}}</p>
            <p>{{this.EMPLOYEE.lastName}}</p>
            <p>{{this.EMPLOYEE.salary}}</p>
            <p>{{this.EMPLOYEE.mail}}</p>
        </div>
    </mat-grid-tile>
</mat-grid-list>