.text-information {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    justify-content: flex-start;
}

.text-information p {
    margin-left: 10px;
}

.group-button {
    margin-left: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.group-button button {
    margin-left: 10px;
}