<div *ngIf="isEdit; else elseBlock">
  <h2>Editando Trabajador.</h2>.
</div>
<ng-template #elseBlock>
  <h2>Creando Trabajador.</h2>
</ng-template>
<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
  <mat-grid-list cols="2" rowHeight="4:1">
    <mat-grid-tile>
      <mat-form-field>
        <mat-label for="name">Nombres</mat-label>
        <input matInput placeholder="Nombres" formControlName="name" required>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Apellidos</mat-label>
        <input matInput placeholder="Apellidos" required formControlName="lastName">
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="2" rowHeight="4:1">
    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Cargo</mat-label>
        <mat-select id="position" required formControlName="position">
          <mat-option *ngFor="let pos of position" [value]="pos.id">{{pos.value}}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="mail" placeholder="Ex. pat@example.com">
        <mat-error *ngIf="employeeForm.controls.mail.status == 'INVALID'">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="2" rowHeight="5:1">
    <mat-grid-tile>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Salario</mat-label>
        <input matInput class="input-salary" type="number" required formControlName="salary">
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="1" rowHeight="8:1">
    <mat-grid-tile>
      <div class="text-information">
        <p>(*)Campos Obligatorios</p>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="1" rowHeight="10:1">
    <mat-grid-tile>
      <div class="group-button">
        <button color="primary">CANCELAR</button>
        <button mat-raised-button type="submit" [disabled]="!employeeForm.valid">
          ACEPTAR
        </button>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>